<h2>Users</h2>
<table class='table table-hover table-inverse'>
  <thead>
     <tr>
      <th>Image</th>
      <th>Name</th>
      <th></th>
     </tr>
     <% @users.each do |user| %>
     <tr>
      <td><%= show_thumbnail(user, 40, 40) %></td>
      <td><%= user.name %></td>
      <td><%= link_to 'show', user_path(user) %></td>
     </tr>
     <% end %>
  </thead>
  <tbody></tbody>
</table>