<% if object.errors.any? %>
  <div class='text-danger'>
    <p class='h3'><%= object.errors.count %>Errors occurred</p>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>